.arrows {
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: calc(100% - 10% + 60px);
    left: calc(5% - 30px);
    margin: 0 auto;
    color: white;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 60px;
        width: 60px;
        padding-right: 5px;
        border-radius: 100%;
        background: #D9D9D9;
        font-size: 30px;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }

        &.right {
            transform: rotateY(180deg);
        }
    }
}