@import "../../assets/styles/theme.scss";

.project-list {

    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; // Увеличиваем ширину на 10%, чтобы занять отступ
        height: 465px;
        background-image: url('../../assets/images/backround/bg_projects_block.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain; // Или cover, если нужно заполнить область
        z-index: -1;
        transform: translateX(11.3%); // Смещаем влево, компенсируя padding

        @media (max-width: 768px) {
            display: none; // Скрываем картинку на мобильных
        }

    }

    .card {
        display: block;
        position: relative;
        height: 250px;
        @media (max-width: 768px) {
            max-width: 100%;
            height: 215px;
        }
        border-width: 1px;
        border-style: solid;
        border-color: transparent;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        .label {
            position: absolute;
            left: 22px;
            bottom: 16px;

            padding: 2px;
            border-radius: 4px;

            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            color: $text-card-project;
        }
    }
}