@import "../../assets/styles/theme.scss";

$news-card-gap: 1em;

#react-page:has(> #mainpageheader) {
    margin-top: 0;

    #mainpageheader {
        position: relative;

        height: 100vh;
        padding: 0 10%;
        margin: 0;

        color: $text-secondary;
        background-image: url(/assets/images/car.jpeg);
        background-color: $bg-image;
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;

        .container {
            position: absolute;
            top: 40%;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 60px;
                font-weight: 600;
                line-height: 63px;
                margin: 0;
            }

            h2 {
                font-size: 24px;
                font-weight: 400;
                line-height: 36px;
            }

            .btn {
                margin: 0;
            }
        }
    }

    .block {

        h1 {
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                text-align: right;
                color: $text-primary;
            }
        }

        #news .row {
            grid-template-columns: repeat(4, calc((100% - $news-card-gap * 3) / 4));
            justify-content: space-between;
            gap: $news-card-gap;
        }
    }

    .block:not(:last-child) {
        margin-bottom: 32px;
    }
}