@import "../../assets/styles/theme.scss";

#react-page {
    margin-top: calc($navbar-height + 5 * $navbar-padding-tb);

    .header, .content {             
        margin-left: 10%;
        margin-right: 10%;
    }

    .content {
        background: $bg-primary;
    }
}

.block .heading a,
#navbar .nav-link {
    position: relative;
}

.block .heading a::after,
#navbar .nav-link::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    transition: 0.3s;
}

.block .heading a::after {
    background: $text-primary;
}

.block .heading a:hover:after,
#navbar .nav-link:hover:after,
#navbar .nav-link.active:after {
    width: 100%;
}