.mainContainer {
  margin: 0 10% 0 10%;
  @include mediaMax($mobile-xs-width) {
    margin: 0 5% 0 5%;
  }
}

$news-card-gap: 1em;

body {
  overflow-x: hidden; // Скрываем горизонтальный скролл
}

#mainpageheader {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 0 10%;
  margin: 0;
  margin-bottom: 20px;
  color: $text-secondary;
  background-image: url("/src/shared/assets/images/art.bmp");
  background-color: $bg-image;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;

  .container {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      top: 30%;
      padding: $navbar-padding-tb 5%;
    }

    h1 {
      font-size: 52px;
      font-weight: 600;
      line-height: 63px;
      margin: 0;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    .btn {
      margin: 0;
      margin-top: 24px;
    }
  }
  
}

.block {
  background: transparent !important;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 500;
      text-align: right;
      color: $text-primary;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  #news-list .row {
    grid-template-columns: repeat(4, calc((100% - $news-card-gap * 3) / 4));
    justify-content: space-between;
    gap: $news-card-gap;
  }
}

.block:not(:last-child) {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  #mainpageheader {
    padding: 0;
  }
}

.block:not(:last-child) {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  #mainpageheader {
    padding: 0;
  }
}

.LabListContainer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 363px;
    background-image: url('/src/shared/assets/images/backround/bg_news_block.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.GalleryContainer {
  position: relative;
  padding: 0 10%;

  @media (max-width: 768px) {
    padding: 0 5%;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 436px;
    background-image: url('/src/shared/assets/images/backround/bg_labs_block.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.NumbersContainer {
  position: relative;
  padding: 0 10%;

  @media (max-width: 768px) {
    padding: 0 5%;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 459px;
    background-image: url('/src/shared/assets/images/backround/bg_projects_block.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.mainpage-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;
}
