@import "../../../assets/styles/theme.scss";

#news-item-page .row {
    display: flex;
    justify-content: space-between;    
    margin-top: 2em;

    p {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        height: $main-font-size;
    }

    .date {
        text-align: right;
        color: rgb(100, 100, 100);
    }
}