@import "../../../../assets/styles/theme.scss";

#numbers {
    
    label {
        font-size: 20px;
        margin-top: 10px;
    }

    .blocks {
        padding: 24px;
        background-color: #f7f5f5;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gap01 {
        gap: 32px;
    }

    .visible {
        display: block !important;
    }

    @media (max-width: 1200px) {
        .visible {
            display: none !important;
        }
    }

    @media (max-width: 500px) {
        label {
            font-size: 14px;
            margin-top: 5px;
        }

        .blocks {
            padding: 10px;
            background-color: transparent;
            width: 100%;
        }

        .gap01 {
            gap: 10px;
        }
    }
}