@import "../../assets/styles/theme.scss";
$gap: 20px;
$icon-size: 24px;
$color-file-button: rgb(7, 42, 200);

.contact-form {
    padding: 20px 22px;
    border-radius: 16px;

    background-color: $bg-form;

    h2 {
        margin-top: 0;

        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: $gap;

        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
            gap: $gap;
        }

        .file-input * {
            width: fit-content;
            color: $color-file-button;
            font-weight: 500;

            .icon {
                height: $icon-size;
                width: $icon-size;
                filter: invert(15%) sepia(100%) saturate(2861%) hue-rotate(229deg) brightness(93%) contrast(120%);;
            }
        }

        .submit {
            width: 100%;
            cursor: pointer;

            padding: 12px;
            font-size: 18px;
            line-height: normal;
        }
    }
}