@import "../../assets/styles/theme.scss";

.contact-form {
    padding: 20px 22px;
    border-radius: 16px;

    background-color: $bg-form;

    h2 {
        margin-top: 0;

        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 14px;
        
        .submit {
            width: 100%;
            cursor: pointer;
        
            padding: 12px;
            font-size: 18px;
            line-height: normal;
        }
    }
}