.projects {

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 32px;

        .card:first-of-type {
            width: 100%;
            aspect-ratio: 3;
        }

        .card {
            display: block;
            position: relative;
            width: calc(100%/3 - 64px);
            aspect-ratio: 3/2;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

            .link-label {
                position: absolute;
                right: 24px;
                bottom: 16px;

                padding: 2px;
                border-radius: 4px;

                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                color: #767676;

                background-color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}