//Цвета
$bg-primary: white;
$bg-secondary: #343434;
$bg-footer: #222222;
$bg-form: #F5F5F7;
$bg-card-lab: black;
$bg-image: rgba(0, 0, 0, .25);

$text-primary: black;
$text-secondary: white;
$text-card-project: white;
$text-card-project-bg: rgba(255, 255, 255, 0.75);

$shadow-primary: rgba(0, 0, 0, 0.25);

$btn-primary-text: white;
$btn-primary-bg: linear-gradient(93.25deg, #4942E4 0%, #11009E 50%, #4942E4 100%), linear-gradient(0deg, #585858, #585858);

// Размеры
$navbar-height: 60px;
$navbar-height-mini: 30px;
$navbar-padding-tb: 10px;
$navbar-logo-height: 247px;
$navbar-logo-mini-height: 165px;


$row-gap: 26px;

$main-font-size: 20px;
$main-font-weight: 400;
$main-line-height: 30px;