$bg-primary: white;
$bg-secondary: #343434;
$bg-footer: #222222;
$bg-form: #EDEDED;
$bg-card-lab: black;
$bg-image: rgba(0, 0, 0, .75);

$text-primary: black;
$text-secondary: white;
$text-card-project: #767676;
$text-card-project-bg: rgba(255, 255, 255, 0.75);

$shadow-primary: rgba(0, 0, 0, 0.25);

$btn-primary-text: white;
$btn-primary-bg: linear-gradient(93.25deg, #4942E4 0%, #11009E 50%, #4942E4 100%),
        linear-gradient(0deg, #585858, #585858);