#contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;

    .half {
        flex: 1 1 50%;
    }

    .contact-form {
        flex: 1 1 35%;

        .row {
            flex-direction: column;
        }
    }
}