#contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;

    .half {
        flex: 1 1 50%;
    }

    .contact-form {
        flex: 1 1 35%;
        .row {
            flex-direction: column;
        }
    }
}

@media (max-width: 768px) {
    #contact-us {
        gap: 0;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contact-form {
        max-width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
