.slider {
    overflow: hidden;
    position: relative;

    & .slide-list {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
        margin: 0 auto;

        & .slide {
            flex: 1 0 100%;
            position: relative;


            & .slide-image {
                display: flex;
                max-height: 60vh;
                max-width: calc(100% - 2 * (15% + 30px));
                margin: 0 auto;
                border-radius: 8px;
            }
        }
    }
}