.slider {
    overflow: hidden;
    position: relative;

    & .slide-list {
        display: flex;
        align-items: center;

        & .slide {
            position: relative;


            & .slide-image {
                display: flex;
                width: 80%;
                margin: 0 auto;
                border-radius: 8px;
            }
        }
    }
}